@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:ital,wght@0,300;0,500;1,500&display=swap');


:root{
    --dark-bg: #020C22;
    --dark-primary: #1954D1;
    --dark-secondary: #020F2C;
    --dark-acc: #FF0000;
    --dark-text: #F0F5FE;
    font-family: Roboto;
}
@media screen and (max-width:600px){
    body{
        min-width: 600px;
    }
    .left-feature{
        display: none;
    }
    .top,.bottom{
        flex-direction: column;
        align-items: start;
    }
}

@keyframes kick {
    0% {
        transform: translateX(0) rotate(0deg);
    }
    25% {
        transform: translateX(50px) rotate(45deg);
        transform: translateY(50px) rotate(45deg);
    }
    50% {
        transform: translateX(100px) rotate(90deg);
    }
    75% {
        transform: translateX(50px) rotate(135deg);
    }
    100% {
        transform: translateX(0) rotate(180deg);
    }
}

.football-animation {
    animation: kick 3s infinite;
    height: 100px;
    width: 100px;
}
#logo{
    padding: 1em;
    height: 100px;
    width: 100px;
    margin-right: -1em;
}
.links{
    flex-wrap: wrap;
}
.left-header{
    display: flex;
    margin-left: 1em;
    align-items: center;
}

body{
    all: unset;
    background-color: var(--dark-bg);
    color:var(--dark-text);
    min-width: 600px
}
#logo-text{
    margin: 1em;
}
.container{
    display: flex;
    flex-direction: column;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* position: absolute; */
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 1em;
    margin-right: 1em;
}
a.link{
    all:unset;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* display: flex; */
}

a.link:hover{
    cursor: pointer;
    text-decoration: underline;
}

.first-box{
    padding: 50px;
    /* height: 240px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark-secondary);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
#welcome{
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */
}
#welcome-p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.features{
    background-color: var(--dark-secondary);
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5%;
    padding: 2em;
}
.left-feature{
    text-align: start;
    font-style: normal;
    font-weight: 700;
    width: 300px;
}
.right-feature{
    display: flex;
    flex-direction: row;
}
.right-feature p{
    width:150px;
}
.inner-left-feature, .inner-right-feature{
    margin: 1em;
}
.img-background{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    background-color: var(--dark-acc);
    
}
#graph{
    font-size: 80px;
    text-align: center;
}

.why-us{
    background-color: var(--dark-secondary);
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em;
    margin-bottom: 5%;
}
.top,.bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em;
}
.why-us-text{
    display: flex;
    flex-direction: column;
}
.why{
    margin-right: 1em;
}
.search{
    background-color: var(--dark-secondary);
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em;
    flex-direction: column;
    margin-bottom: 5%;
}
.search-text h1{
    font-style: normal;
    font-weight: 700;
}
.search-bar{
    display: flex;
}
.search-term{
    padding: .6em;
    width:235px;   
    border: none; 
}
.search-term:focus{
    outline: none;
}
.search-btn{
    display: flex;
    align-items: center;
    border:none;
    cursor: pointer;
    background-color: white;
}
form{
    display: flex;
}
/* .search-term:active{
    outline: none;
} */
/* 
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
}
form{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em;
}   
.hvr-glow {
    padding: 5px;
    border-radius: 1em;
    background-color: rgb(188, 188, 255);
    color: rgb(48, 48, 182);
    border: none;
    height: 25px;
    width: 80px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(188, 188, 255,0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    margin-left: 10px;
  }
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(153, 153, 246, 0.6);;
    cursor: pointer;
}  
a{
    margin: 1em;
    font-size: 30px;
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

#DataTables_Table_0_wrapper{
    display: none;
}
.playerTable tbody tr:hover{
    background-color: lightgoldenrodyellow;
}
.resTable{
    zoom: 55%;
}
h3{
    margin-right: 10px;
}
div.links{
    display: flex;
    border-bottom: 1px solid black;
    width: 100vw;
    justify-content: center;
} */