
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}   
.hvr-glow {
    padding: 5px;
    border-radius: 1em;
    background-color: rgb(188, 188, 255);
    color: rgb(48, 48, 182);
    border: none;
    height: 30px;
    width: 80px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(188, 188, 255,0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(153, 153, 246, 0.6);;
    cursor: pointer;
}  
a{
    margin: 1em;
    font-size: 30px;
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

#DataTables_Table_0_wrapper{
    display: none;
}
.playerTable tbody tr:hover{
    background-color: lightgoldenrodyellow;
}
.resTable{
    zoom: 55%;
}