@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:ital,wght@0,300;0,500;1,500&display=swap');


:root{
    --dark-bg: #020C22;
    --dark-primary: #1954D1;
    --dark-secondary: #020F2C;
    --dark-acc: #FF0000;
    --dark-text: #F0F5FE;
    font-family: Roboto;
}
#logo{
    padding: 1em;
    height: 100px;
    width: 100px;
    margin-right: -1em;
}
.links{
    flex-wrap: wrap;
}
.left-header{
    display: flex;
    margin-left: 1em;
    align-items: center;
}

body{
    all: unset;
    background-color: var(--dark-bg);
    color:var(--dark-text);
    min-width: 600px
}
#logo-text{
    margin: 1em;
}
.container{
    display: flex;
    flex-direction: column;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* position: absolute; */
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 1em;
    margin-right: 1em;
}
a.link{
    all:unset;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* display: flex; */
}

a.link:hover{
    cursor: pointer;
    text-decoration: underline;
}

.search{
    background-color: var(--dark-secondary);
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em;
    flex-direction: column;
    margin-bottom: 5%;
}
.search-text h1{
    font-style: normal;
    font-weight: 700;
}
.search-bar{
    display: flex;
}
.search-term{
    padding: .6em;
    width:235px;   
    border: none; 
}
.search-term:focus{
    outline: none;
}
.search-btn{
    display: flex;
    align-items: center;
    border:none;
    cursor: pointer;
    background-color: white;
}

.features{
    background-color: var(--dark-secondary);
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5%;
    padding: 2em;
}
/* .top-feature{
    text-align: start;
    font-style: normal;
    font-weight: 700;
    width: 300px;
} */
.bottom-feature{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%;

}
.player-info{
    /* margin-top: 10px; */
    margin-left: 3em;
}
.inner-feature{
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 100px;
}
.inner-feature p{
    margin: 0px;
}
#graph{
    font-size: 80px;
    text-align: center;
}

.img-background{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    background-color: var(--dark-text); 
}

.img-background h1{
    color:var(--dark-acc);
    font-size:3em;
}

form{
    display: flex;
}
#DataTables_Table_0_wrapper{
    display: none;
}
.resTable{
    zoom: 55%;
}

table,tbody,td,th,label, #DataTables_Table_1_info{
    background-color: var(--dark-secondary);
    color:var(--dark-text)
}
.dataTables_wrapper .dataTables_filter input, .dataTables_wrapper .dataTables_length select{
    background-color: var(--dark-secondary);
    color:var(--dark-text);
}
.playerTable{
    /* display: none; */
}
.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: var(--dark-primary) !important;
    /* font-weight: bold !important; */
    color: var(--dark-text) !important;
    border: 1px solid var(--dark-primary);
    overflow: scroll;
    /* border-right: 1px solid var(--dark-primary);
    border-left: 1px solid var(--dark-primary); */
} 
.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
} 
/* .ui-menu-item-wrapper:hover{
    color: var(--dark-primary);
} */
/* tbody td{
    color:var(--dark-text)
} */

.loading-spinner {
    /* display: none; Initially hide the loading spinner */
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#logo-link{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}