<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>

<body>
    <div class="container">

        <div class="wrapper">
        <div>
            <h1>Home</h1>
        </div>

        <div>
            <a href="{{ url_for('render_tables')}}">Tables</a>
        </div>

        </div>

        <div>
            </div>
                <form method="POST">
                    <textarea name="textarea"></textarea>
                    <input type="submit" value="Search">
                </form>
            </div>
        <div>
    </div>
</body>
</html>